<!DOCTYPE html>
<html>
<head>
	<title>KOPIS - Home Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="assets/favicon.png" itemprop="image">
	<link rel="shortcut icon" type="image/x-icon" href="assets/logo.svg"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="src/index.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed:700&amp;subset=cyrillic-ext" rel="stylesheet">
	<script type="text/javascript" src="src/index_loader.js"></script>
</head>
<body>
	<div id="app">
		<nav class="navbar navbar-expand-lg navbar-light bg-white pt-0 pb-0" id="navbar">
			<div class="container">
			  	<a class="navbar-brand mb-0 h1 mr-auto fc-blue" href="/">
			  		<table>
			  			<tr>
			  				<td rowspan=3>
			  					<img id="main-logo" src="assets/logo.svg" class="brand-logo">
			  				</td>
			  				<td class="fc-blue fn-impact fs-xl" style="padding-left: 10px;line-height: 1;">
			  					Колледж<br>
						  		общественного<br>
						  		питания и сервиса
			  				</td>
			  			</tr>
			  		</table>
				</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
			  	<ul class="navbar-nav ml-auto my-2 my-lg-0 fn-gothic fs-xs" style="line-height:1;">
		  		  <li class="nav-item">
			        <a class="nav-link fc-gold" href="">Гос символ</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link fc-gold" href="">Послание президента</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link fc-gold" href="">Вопросы психологу</a>
			      </li>
			      <li class="nav-item">
			      	<a class="nav-link fc-gold" data-toggle="modal" data-target="#searchModal">
  						<img src="assets/search.svg" height=16>
					</a>
			      </li>
			      	<li class="nav-item dropdown">
				        <a class="nav-link fc-gold" href="" id="dr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				          <img src="assets/globe.svg" height=16>
				        </a>
				        <div class="dropdown-menu dropdown-menu-right fs-xs" aria-labelledby="dr1">
				          <a class="dropdown-item fc-gold" href="">Қазақ</a>
				          <a class="dropdown-item fc-gold" href="">English</a>
				          <a class="dropdown-item fc-gold active" href="">Русский</a>
				        </div>
			    	</li>
			    </ul>
			    <ul class="navbar-nav ml-auto my-2 my-lg-0 fn-impact fs-xl" style="line-height:1;">
			      	<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle fc-blue" href="" id="dr2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Колледж</a>
				        <div class="dropdown-menu fs-xs" aria-labelledby="dr2">
				          <a class="dropdown-item fc-blue" href="news.html">Новости</a>
				          <a class="dropdown-item fc-blue" href="">Menu 2</a>
				          <a class="dropdown-item fc-blue" href="">Menu 3</a>
				        </div>
					</li>
			      <li class="nav-item dropdown">
			        <a class="nav-link fc-blue dropdown-toggle" href="" id="dr3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Абитуриентам</a>
			        <div class="dropdown-menu fs-xs" aria-labelledby="dr3">
						<a class="dropdown-item fc-blue active" href="">Menu 1</a>
						<a class="dropdown-item fc-blue" href="">Menu 2</a>
						<a class="dropdown-item fc-blue" href="">Menu 3</a>
				    </div>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link fc-blue dropdown-toggle" href="" id="dr4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Студентам</a>
			        <div class="dropdown-menu fs-xs" aria-labelledby="dr4">
						<a class="dropdown-item fc-blue" href="photos.html">Фотогалерея</a>
						<a class="dropdown-item fc-blue" href="videos.html">Видеогалерея</a>
						<a class="dropdown-item fc-blue" href="videos2.html">Видеогалерея 2</a>
						<a class="dropdown-item fc-blue" href="page.html">Простая страница</a>
				    </div>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link fc-blue dropdown-toggle" href="" id="dr5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Преподавателям</a>
			        <div class="dropdown-menu fs-xs" aria-labelledby="dr5">
						<a class="dropdown-item fc-blue active" href="">Menu 1</a>
						<a class="dropdown-item fc-blue" href="">Menu 2</a>
						<a class="dropdown-item fc-blue" href="">Menu 3</a>
				    </div>
			      </li>
			      <li class="nav-item dropdown">
			        <a class="nav-link fc-blue dropdown-toggle" href="" id="dr6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Документы</a>
			        <div class="dropdown-menu dropdown-menu-right fs-xs" aria-labelledby="dr6">
						<a class="dropdown-item fc-blue active" href="">Menu 1</a>
						<a class="dropdown-item fc-blue" href="">Menu 2</a>
						<a class="dropdown-item fc-blue" href="">Menu 3</a>
				    </div>
			      </li>
			    </ul>
			  </div>
			</div>
		</nav>
		<section id="main-carousel">
			<div class="">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
				  <ol class="carousel-indicators" style="bottom: -20px">
				    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
				    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
				  </ol>
				  <div class="carousel-inner fn-impact">
				    <div class="carousel-item active">
				    	<div class="bezel overflow-hidden">
				    		<div class="with-background-image main-carousel-image" 
					    	style="background-image:url('assets/slide1.jpg');background-position: 50% 0px;"
					    	data-speed="1.5" data-type="background"
					    	></div>
					    	<div class="carousel-caption fc-red">
					    		<div class="container">
					    			<div class="fs-xl text-left">Достойное образование - успешная карьера!</div>
					    		</div>
							</div>
				    	</div>
						<img src="assets/11 aspazshy.svg" class="main-carousel-secondary-image">
				    </div>
				    <div class="carousel-item">
				    	<div class="bezel overflow-hidden">
				    		<div class="with-background-image main-carousel-image" 
					    	style="background-image:url('assets/slide7.jpg');"
					    	data-speed="1.5" data-type="background"
					    	></div>
					    	<div class="carousel-caption fc-red">
					    		<div class="container">
					    			<div class="fs-xl text-left">Достойное образование - успешная карьера!</div>
					    		</div>
							</div>
				    	</div>
						<img src="assets/12 tiginshi.svg" class="main-carousel-secondary-image">
				    </div>
				    <div class="carousel-item">
				    	<div class="bezel overflow-hidden">
				    		<div class="with-background-image main-carousel-image" 
					    	style="background-image:url('assets/slide3.jpg');"
					    	data-speed="1.5" data-type="background"
					    	></div>
					    	<div class="carousel-caption fc-red">
					    		<div class="container">
					    			<div class="fs-xl text-left">Достойное образование - успешная карьера!</div>
					    		</div>
							</div>
				    	</div>
						<img src="assets/13 naubaishy.svg" class="main-carousel-secondary-image">
				    </div>
				  </div>
				  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="sr-only">Предыдущий</span>
				  </a>
				  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="sr-only">Следующий</span>
				  </a>
				</div>
			</div>
		</section>
		<section id="news" class="pr-3 pl-3 sc-bc-blue">
			<div class="container">
				<div class="row fn-gothic">
					<div class="col-xl-9">
						<p class="text-center fs-xxl fc-red fn-impact">Новости и события</p>
						<div class="row">
							<div class="col-md-6">
								<div class="card mt-4 mb-4 card-news">
									<div class="row">
									    <div class="col-lg-6">
									    	<div class="with-background-image card-img-top" 
									    	style="background-image:url('assets/slide4.jpg'); "></div>
									    </div>
										<div class="col-lg-6">
											<div class="card-block pt-2 pr-2 pb-2">
											  	<h4 class="card-title fs-sm fc-red"><strong>3 курс студенті АКД-273 тобының студенттеріне “Қарақат зефирі” және “Профитроль” дайындау жолдарын көрсетті.</strong></h4>
												<div class="card-bottom">
													<div class="float-left align-text-bottom fs-xs fc-gold">06.03.19</div>
													<a href="news.html" class="float-right mr-2 align-text-bottom fs-sm fc-red">Подробнее</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							    <div class="card mt-4 mb-4 card-news">
									<div class="row">
									    <div class="col-lg-6">
									    	<div class="with-background-image card-img-top" 
									    	style="background-image:url('assets/slide5.jpg'); "></div>
									    </div>
										<div class="col-lg-6">
											<div class="card-block pt-2 pr-2 pb-2">
											  	<h4 class="card-title fs-sm fc-red"><strong>29.03.19 Был Мастер – класс</strong></h4>
												<div class="card-bottom">
													<div class="float-left align-text-bottom fs-xs fc-gold">06.03.19</div>
													<a href="news.html" class="float-right mr-2 align-text-bottom fs-sm fc-red">Подробнее</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="card mt-4 mb-4 card-news">
									<div class="row">
									    <div class="col-lg-6">
									    	<div class="with-background-image card-img-top" 
									    	style="background-image:url('assets/slide6.jpg'); "></div>
									    </div>
										<div class="col-lg-6">
											<div class="card-block pt-2 pr-2 pb-2">
											  	<h4 class="card-title fs-sm fc-red"><strong>А. Жетенова тауық қанаттарын, нагеттстер, тауық сан еті, тауықтан орама дайындау технологиясын көрсетті.</strong></h4>
												<div class="card-bottom">
													<div class="float-left align-text-bottom fs-xs fc-gold">06.03.19</div>
													<a href="news.html" class="float-right mr-2 align-text-bottom fs-sm fc-red">Подробнее</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							    <div class="card mt-4 mb-4 card-news">
									<div class="row">
									    <div class="col-lg-6">
									    	<div class="with-background-image card-img-top" 
									    	style="background-image:url('assets/slide7.jpg'); "></div>
									    </div>
										<div class="col-lg-6">
											<div class="card-block pt-2 pr-2 pb-2">
											  	<h4 class="card-title fs-sm fc-red"><strong>Біздің студенттер нан өнімдерін дайындады</strong></h4>
												<div class="card-bottom">
													<div class="float-left align-text-bottom fs-xs fc-gold">06.03.19</div>
													<a href="news.html" class="float-right mr-2 align-text-bottom fs-sm fc-red">Подробнее</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-3 fn-gothic fs-md">
						<a href="" class="mb-3 text-dark d-flex align-items-start">
							<div style="min-width:35px;">
								<img src="assets/flag.svg" width=30>
							</div>
							<div>
								Государственные символы
							</div>
						</a>
						<a href="" class="mb-3 text-dark d-flex align-items-start">
							<div style="min-width:35px;">
								<img src="assets/manifest.svg" width=30>
							</div>
							<div>
								Послание Президента
							</div>
						</a>
						<div class="fn-impact fs-lg fc-red mb-3">Полезные ссылки</div>
						<a href="" class="mb-3 text-dark d-flex align-items-start">
							<div style="min-width:35px;"><img src="assets/heart.svg" width=30></div>
							<div>Центр медико-социальной реабилитации</div>
						</a>
						<a href="" class="mb-3 text-dark d-flex align-items-start">
							<div style="min-width:35px;"><img src="assets/heart.svg" width=30></div>
							<div>Центр проблем психического здоровья</div>
						</a>
						<a href="" class="mb-3 text-dark d-flex align-items-start">
							<div style="min-width:35px;"><img src="assets/heart.svg" width=30></div>
							<div>Центр дерматологии Астаны</div>
						</a>
						<a href="" class="mb-3 text-dark d-flex align-items-start">
							<div style="min-width:35px;"><img src="assets/heart.svg" width=30></div>
							<div>Центр профилактики и борьбы со СПИДом</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<section id="blog" class="bg-white">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col-md-6 col-lg-3 text-center mt-1 mb-1 mt-39">
						<calendar v-model="curr"/>
					</div>
					<div class="col-md-6 col-lg-3 mt-1 mb-1 text-center mt-39">
						<a class="btn bc-blue fs-xl fc-red fn-gothic lh-1 wider rounded taller">
							График приема директора
						</a>
					</div>
					<div class="col-md-6 col-lg-3 mt-1 mb-1 text-center">
						<a class="btn btn-link fn-impact fc-red fs-xxl lh-1">Блог директора</a>
					</div>
				</div>
			</div>
		</section>
		<section id="videos" class="fn-impact sc-bc-blue">
			<p class="text-center fs-xxl fc-red">Наши видео</p>
			<div class="container" v-cloak>
				<div class="row" v-if="videos.length>0">
					<div class="col-lg-6 d-flex align-items-center text-center" v-for="(video, index) in videos">
						<iframe class="video"
							:src="getVideoLink(video)" frameborder="0" allowfullscreen>
						</iframe>
					</div>
				</div>
			</div>
		</section>
		<section id="partners">
			<div class="container">
				<p class="text-center fn-impact fs-xxl fc-red">Наши партнеры</p>
				<div class="partners-wrapper">
					<div id="partners-carousel" class="carousel slide overflow-hidden" data-ride="carousel">
					  <ol class="carousel-indicators">
					    <li data-target="#partners-carousel" data-slide-to="0" class="active"></li>
					    <li data-target="#partners-carousel" data-slide-to="1"></li>
					    <li data-target="#partners-carousel" data-slide-to="2"></li>
					  </ol>
					  <div class="carousel-inner">
					    <div class="carousel-item active">
					    	<div class="with-background-image partners-image" 
			    				style="background-image:url('https://via.placeholder.com/1000x200?text=Партнеры+осында');"></div>
					    </div>
					    <div class="carousel-item">
					      <div class="with-background-image partners-image" 
			    				style="background-image:url('https://via.placeholder.com/1000x200?text=Партнеры+осында');"></div>
					    </div>
					    <div class="carousel-item">
					      <div class="with-background-image partners-image" 
			    				style="background-image:url('https://via.placeholder.com/1000x200?text=Партнеры+осында');"></div>
					    </div>
					  </div>
					  <a class="carousel-control-prev" href="#partners-carousel" role="button" data-slide="prev">
					  	<img src="assets/previous.svg">
					    <span class="sr-only">Предыдущий</span>
					  </a>
					  <a class="carousel-control-next" href="#partners-carousel" role="button" data-slide="next">
					    <img src="assets/next.svg">
					    <span class="sr-only">Следующий</span>
					  </a>
					</div>
				</div>
			</div>
		</section>
		<section id="contact-us" class="fn-gothic fs-sm bg-white">
			<div class="contact-us">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 d-none d-lg-block">
							<img src="assets/question.svg" width="110" class="left-image">						
						</div>
						<div class="col-lg-8">
							<p class="text-center fn-impact fs-xxl fc-red">Контактная форма</p>
							<form>
								<div class="form-row">
								    <div class="form-group col-md-4">
								      <input type="text" class="form-control fs-sm bc-bluish roundless borderless" id="fullname" placeholder="ФИО" required>
								    </div>
								    <div class="form-group col-md-4">
								      <input type="email" class="form-control fs-sm bc-bluish roundless borderless" id="email" placeholder="E-Mail" required>
								    </div>
								    <div class="form-group col-md-4">
								      <input type="tel" class="form-control fs-sm bc-bluish roundless borderless" id="phone" placeholder="Телефон" required>
								    </div>
								  </div>
							  <div class="form-group">
							      <textarea class="form-control fs-sm bc-bluish roundless borderless" id="message" placeholder="Текст сообщения..." rows="4" required></textarea>
							  </div>
							  <div class="form-group">
							    <div class="text-center align-items-center">
							      <button type="submit" class="btn bc-blue fc-red text-bold fs-sm wider">Отправить</button>
							    </div>
							  </div>
							</form>
						</div>
						<div class="col-lg-2 d-none d-lg-block align-items-bottom">
							<img src="assets/info.svg" width="125" class="right-image">
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer section fn-gothic fs-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="row">
							<div class="col-md-6">
								<a class="footer-link" href="">Гос символ</a><br>
								<a class="footer-link" href="">Послание президента</a><br>
								<a class="footer-link" href="">Вопросы психологу</a><br>
							</div>
							<div class="col-md-6">
								<a class="footer-link" href="">Колледж</a><br>
								<a class="footer-link" href="">Абитуриенту</a><br>
								<a class="footer-link" href="">Студентам</a><br>
								<a class="footer-link" href="">Преподавателям</a><br>
								<a class="footer-link" href="">Документы</a><br>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="float-md-right">
							<span class="footer-title float-md-right">Контакты</span><br>
							<a class="float-md-right text-md-right footer-link" href="https://2gis.kz/astana/query/колледж%20общественного%20питания%20и%20сервиса/firm/70000001018099858?queryState=center%2F71.471376%2C51.14362%2Fzoom%2F16" target="_blank">г. Астана<br>Майлина 12</a><br>
							<a class="footer-link float-md-right" href="tel:+77172501647">8 (7172) 501647</a><br>
							<a class="footer-link float-md-right" href="mailto:ktsk.astana@mail.ru">ktsk.astana@mail.ru</a><br>
							<div class="links float-md-right">
								<a href="">
									<img width="21" height="21" src="assets/twitter.svg">
								</a>
								<a href="">
									<img width="21" height="21" src="assets/youtube.svg">
								</a>
								<a href="https://www.facebook.com/ktsk.kopis/">
									<img width="21" height="21" src="assets/facebook.svg">
								</a>
								<a href="">
									<img width="21" height="21" src="assets/instagram.svg">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<template id="calendar">
	  <div class="calendar-holder">
	  
	  <table class="calendar text-center fn-roboto fs-sm mr-auto ml-auto">
	  	<thead>
	  		<tr>
	  			<td colspan=5 class="fn-impact align-middle fc-red fs-xl text-right">
					{{ currMonthLabel }} {{ currYear }}
	  			</td>
	  			<td colspan=2 class="align-middle">
	  				<div class="btn-group" role="group" aria-label="Basic example">
					  <a class="text-white" style="cursor:pointer;" @click="previousMonth">
					  	<img src="assets/left.svg" height="25">
					  </a>
					  <a class="text-white" style="cursor:pointer;" @click="nextMonth">
					  	<img src="assets/right.svg" height="25">
					  </a>
					</div>
	  			</td>
	  		</tr>
	  		<tr class="transitionable">
	  			<td v-for="dayLabel in dayLabels"><strong>{{ dayLabel }}</strong></td>
	  		</tr>
	  	</thead>
	  	<tbody id="calendar-body" class="animated">
	  		<tr v-for="n in weeks" class="">
	  			<td v-for="(date, di) in datesArray(n-1)" class="date" @click="setSelectedDate(date)">
	  				<span :class="dayClassObj(date)">
				      {{ date.date | formatDateToDay }}
				    </span>
	  			</td>
	  		</tr>
	  	</tbody>
	  </table>
	</div>
	</template>
	<div class="modal fade" id=searchModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog modal-lg" role="document">
	    <div class="modal-content" style="">
	      <!--<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>-->
	      	<form class="modal-body p-0">
	      	<div class="input-group">
	      		<div class="input-group-prepend">
    				<span class="input-group-text" id="basic-addon1">
    					<img src="assets/search.svg" height=16>
    				</span>
  				</div>
			  <input type="text" class="form-control" placeholder="Поиск" aria-label="Recipient's username" aria-describedby="basic-addon2">
			</div>
			</form>
	    </div>
	  </div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script type="text/javascript">
    	const api_key = "AIzaSyA682zBklG2iwiXVEJ9ZElSpSItjwAKc9k"
    	const channel = "UCvf2dudNiGgh3eKhA-9EkVw"
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script type="text/javascript">
		$(function(){
			var $window = $(window);
			$(window).scroll(function() {
	        	if($window.scrollTop()<=718){
	        		$('.main-carousel-image[data-type="background"]').each(function(){
		        		var $bgobj = $(this);
	        			var yPos = -($window.scrollTop() / $bgobj.data('speed'));
		            	var coords = '50% '+ yPos + 'px';
		            	$bgobj.css({ backgroundPosition: coords });
		            });
	        	}
	        });  
		});
	</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>