<!DOCTYPE html>
<html>
<head>
	<title>KOPIS - Photos Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta content="assets/favicon.png" itemprop="image">
	<link rel="shortcut icon" type="image/x-icon" href="assets/logo.svg"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="src/page.css">
	<link rel="stylesheet" type="text/css" href="src/index.css">
	<link rel="stylesheet" type="text/css" href="src/photos.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto|Roboto+Condensed:700&amp;subset=cyrillic-ext" rel="stylesheet">
	<style type="text/css">
		[v-cloak] {display: none}
	</style>
</head>
<body>
	<div id="app">
		<nav class="navbar navbar-expand-lg navbar-light bg-white pt-0 pb-0" id="navbar">
			<div class="container">
				<a class="navbar-brand mb-0 h1 mr-auto fc-blue" href="index.html">
					<table>
						<tr>
							<td rowspan=3>
								<img id="main-logo" src="assets/logo.svg" class="brand-logo">
							</td>
							<td class="fc-blue fn-impact fs-xl" style="padding-left: 10px;line-height: 1;">
								Колледж<br>
								общественного<br>
								питания и сервиса
							</td>
						</tr>
					</table>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse flex-column" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto my-2 my-lg-0 fn-gothic fs-xs" style="line-height:1;">
						<li class="nav-item">
							<a class="nav-link fc-gold" href="">Гос символ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link fc-gold" href="">Послание президента</a>
						</li>
						<li class="nav-item">
							<a class="nav-link fc-gold" href="">Вопросы психологу</a>
						</li>
						<li class="nav-item">
							<a class="nav-link fc-gold" data-toggle="modal" data-target="#searchModal">
								<img src="assets/search.svg" height=16>
							</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link fc-gold" href="" id="dr1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img src="assets/globe.svg" height=16>
							</a>
							<div class="dropdown-menu dropdown-menu-right fs-xs" aria-labelledby="dr1">
								<a class="dropdown-item fc-gold" href="">Қазақ</a>
								<a class="dropdown-item fc-gold" href="">English</a>
								<a class="dropdown-item fc-gold active" href="">Русский</a>
							</div>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto my-2 my-lg-0 fn-impact fs-xl" style="line-height:1;">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle fc-blue" href="" id="dr2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Колледж</a>
							<ul class="dropdown-menu fs-xs" aria-labelledby="dr2">
								<li><a class="dropdown-item fc-blue" href="news.html">Жаңалықтар</a></li>
								<li><a class="dropdown-item fc-blue" href="">Колледж туралы</a>
									<ul class="third-dropdown">
										<li><a href="college.about.plan.html">Колледждің жұмыс жоспары</a></li>
										<li><a href="">Колледждің стратегиялық жоспары</a></li>
									</ul>
								</li>
								<li><a class="dropdown-item fc-blue" href="college.management.html">Колледж басшылығы</a></li>
								<li><a class="dropdown-item fc-blue" href="college.collective.html">Біздің ұжым</a></li>
								<li><a class="dropdown-item fc-blue" href="college.accredit.html">Аккредиттеу</a></li>
								<li><a class="dropdown-item fc-blue" href="college.studprocess.quality.html">Оқу үрдісі</a>
									<ul class="third-dropdown">
										<li><a href="">Білім сапасы бойынша қорытынды</a></li>
										<li><a href="">Дуалды оқыту</a></li>
										<li><a href="">Сыртқы бағалау қорытындысы</a></li>
										<li><a href="">Оқу топтары </a></li>
										<li><a href="">Оқу үрдісінің кестесі</a></li>
									</ul>
								</li>
								<li><a class="dropdown-item fc-blue" href="">Оқу өндірістік жұмысы</a></li>
								<li><a class="dropdown-item fc-blue" href="">Тәрбие жұмысы</a>
									<ul class="third-dropdown">
										<li><a href="">Іс-шаралар</a></li>
										<li><a href="">Ішкі тәртіп ережелері</a></li>
										<li><a href="">Психологиялық қызмет </a></li>
										<li><a href="">Жастар ісі жөніндегі комитеті </a></li>
										<li><a href="">Спорттық секциялар</a></li>
									</ul>
								</li>
								<li><a class="dropdown-item fc-blue" href="">Оку-әдістемелік жұмысы</a>
									<ul class="third-dropdown">
										<li><a href="">Жұмыс жоспары</a></li>
										<li><a href="">Оқу-әдістемелік жиынтығы</a></li>
										<li><a href="">Әдістемелік ұсынымдар  </a></li>
										<li><a href="">Сайыстар</a></li>
									</ul>
								</li>
								<li><a class="dropdown-item fc-blue" href="">Белестерді бағындырған 35</a></li>
								<li><a class="dropdown-item fc-blue" href="">Жетістіктер</a></li>
								<li><a class="dropdown-item fc-blue" href="">Халықаралық ынтымақтастық</a></li>
								<li><a class="dropdown-item fc-blue" href="">СМЖ</a></li>
								<li><a class="dropdown-item fc-blue" href="">Әлеуметтік серіктестер</a></li>
								<li><a class="dropdown-item fc-blue" href="">Түлектер қауымдастығы</a></li>
								<li><a class="dropdown-item fc-blue" href="">Мемлекеттік қызметтерді алу тәртібі</a></li>
								<li><a class="dropdown-item fc-blue" href="photos.html">Фотогаллерея</a></li>
								<li><a class="dropdown-item fc-blue" href="videos2.html">Видеоматериалдар</a></li>
								<li><a class="dropdown-item fc-blue" href="">Кері байланыс</a></li>
								<li><a class="dropdown-item fc-blue" href="">Басланыс</a></li>
								<li><a class="dropdown-item fc-blue" href="">Хабарландырулар</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link fc-blue dropdown-toggle" href="" id="dr3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Талапкерге</a>
							<ul class="dropdown-menu fs-xs" aria-labelledby="dr3">
								<li><a class="dropdown-item fc-blue" href="">Онлайн өтінім беру </a></li>
								<li><a class="dropdown-item fc-blue" href="">мамандықтар</a></li>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link fc-blue dropdown-toggle" href="" id="dr4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Студентке</a>
							<ul class="dropdown-menu fs-xs" aria-labelledby="dr4">
								<a class="dropdown-item fc-blue" href="">Сабақ кестесі</a>
								<a class="dropdown-item fc-blue" href="">Емтихан сессиясының кестесі</a>
								<a class="dropdown-item fc-blue" href="">Студенттерге арналған үйірмелер кестесі</a>
								<a class="dropdown-item fc-blue" href="">Бос жұмыс орындары</a>
								<a class="dropdown-item fc-blue" href="">Психологқа сұрақ</a>
								<a class="dropdown-item fc-blue" href="">1 курс студентінің жолсілтегіші</a>
								<a class="dropdown-item fc-blue" href="">Жатақхана </a>
								<a class="dropdown-item fc-blue" href="">Ар намыс кодексі</a>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link fc-blue dropdown-toggle" href="" id="dr5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Оқытушыға</a>
							<ul class="dropdown-menu fs-xs" aria-labelledby="dr5">
								<a class="dropdown-item fc-blue" href="">Ашық сабақтар</a>
								<a class="dropdown-item fc-blue" href="">Ашық видео  сабақтар</a>
								<a class="dropdown-item fc-blue" href="">Біліктілікті көтеру</a>
								<a class="dropdown-item fc-blue" href="">Әдістемелік кабинет</a>
								<a class="dropdown-item fc-blue" href="">Үздік жыл оқытушысы</a>
							</ul>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link fc-blue dropdown-toggle" href="" id="dr6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Құжаттар</a>
							<ul class="dropdown-menu dropdown-menu-right fs-xs" aria-labelledby="dr6">
								<a class="dropdown-item fc-blue" href="">Мемлекеттік сатып алу </a>
								<a class="dropdown-item fc-blue" href="">Нормативті құқықтық актілер</a>
								<a class="dropdown-item fc-blue" href="">Ашық бюджет</a>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<section id="content" class="fn-gothic">
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col">
							<nav aria-label="breadcrumb">
							  <ol class="breadcrumb fs-sm fc-gold">
							    <li class="breadcrumb-item"><a href="index.html" class="fc-gold">Главная</a></li>
							    <li class="breadcrumb-item">Студентам</li>
							    <li class="breadcrumb-item active" aria-current="page">Фотографии</li>
							  </ol>
							</nav>
						</div>
					</div>
					<div class="row">
						<div class="col" style="margin-left:30px">
							<h3 class="fn-impact fc-red">Фотогалерея</h3>
						</div>
					</div>
					<div v-cloak>
						<p class="text-center fc-gold" v-if="albums.length>0">
							<a v-for="(album,index) in albums"
								class="link mr-3"
								:class="isSelectedAlbum(index)"
								@click="selectAlbum(index)"
								style="cursor:pointer"
							>
								{{album.title}}
							</a>
						</p>
						<div class="row" v-if="albums.length>0">
							<div class="col">
								<img class="w-100 photo"
									:src="albums[selectedAlbum].photos[albums[selectedAlbum].selectedPhoto]">
							</div>
						</div>
						<div class="align-items-center myrow w-100" v-if="albums.length>0">
							<div v-for="(photo, index) in albums[selectedAlbum].photos"
								class="with-background-image selector photo"
								:style="getStyle(photo)"
								:class="isSelectedPhoto(index)"
								@click="selectPhoto(index)"
							></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="footer section fn-gothic fs-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						
						<div class="row">
							<div class="col-md-6">
								<a class="footer-link" href="">Гос символ</a><br>
								<a class="footer-link" href="">Послание президента</a><br>
								<a class="footer-link" href="">Вопросы психологу</a><br>
							</div>
							<div class="col-md-6">
								<a class="footer-link" href="">Колледж</a><br>
								<a class="footer-link" href="">Абитуриенту</a><br>
								<a class="footer-link" href="">Студентам</a><br>
								<a class="footer-link" href="">Преподавателям</a><br>
								<a class="footer-link" href="">Документы</a><br>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="float-md-right">

							<a class="float-md-right text-md-right footer-link" href="https://2gis.kz/astana/query/колледж%20общественного%20питания%20и%20сервиса/firm/70000001018099858?queryState=center%2F71.471376%2C51.14362%2Fzoom%2F16" target="_blank">г. Астана<br>Майлина 12</a><br>
							<a class="footer-link float-md-right" href="tel:+77172501647">8 (7172) 501647</a><br>
							<a class="footer-link float-md-right" href="mailto:ktsk.astana@mail.ru">ktsk.astana@mail.ru</a><br>
							<div class="social-links float-md-right">
								<a href="">
									<img width="21" height="21" src="assets/twitter.svg">
								</a>
								<a href="">
									<img width="21" height="21" src="assets/youtube.svg">
								</a>
								<a href="https://www.facebook.com/ktsk.kopis/">
									<img width="21" height="21" src="assets/facebook.svg">
								</a>
								<a href="">
									<img width="21" height="21" src="assets/instagram.svg">
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<div class="modal fade" id=searchModal tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog modal-lg" role="document">
	    <div class="modal-content" style="">
	      <!--<div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>-->
	      	<form class="modal-body p-0">
	      	<div class="input-group">
	      		<div class="input-group-prepend">
    				<span class="input-group-text" id="basic-addon1">
    					<img src="assets/search.svg" height=16>
    				</span>
  				</div>
			  <input type="text" class="form-control" placeholder="Поиск" aria-label="Recipient's username" aria-describedby="basic-addon2">
			</div>
			</form>
	    </div>
	  </div>
	</div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript">
    	const alb = 
[
	{
		title: 'Альбом-1',
		selectedPhoto: 0,
		photos: [
			'assets/slide1.jpg',
			'assets/slide2.jpg',
			'assets/slide3.jpg',
			'assets/slide4.jpg',
			'assets/slide5.jpg',
			'assets/slide6.jpg',
			'assets/slide7.jpg',
			'assets/slide8.jpg',
		],
	},
	{
		title: 'Альбом-2',
		selectedPhoto: 0,
		photos: [
			'assets/slide2.jpg',
			'assets/slide1.jpg',
			'assets/slide4.jpg',
			'assets/slide3.jpg',
			'assets/slide5.jpg',
			'assets/slide6.jpg',
			'assets/slide7.jpg',
			'assets/slide8.jpg',
		],
	},
	{
		title: 'Альбом-3',
		selectedPhoto: 0,
		photos: [
			'assets/slide3.jpg',
			'assets/slide4.jpg',
			'assets/slide1.jpg',
			'assets/slide2.jpg',
			'assets/slide5.jpg',
			'assets/slide6.jpg',
			'assets/slide7.jpg',
			'assets/slide8.jpg',
		],
	}
];
    </script>
    <script src="src/photos.js"></script>
</body>
</html>