html,body{			
	background-color: #fcfcfc;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23f4f4f4' fill-opacity='0.51'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	scroll-behavior: smooth;
	-webkit-scroll-behavior: smooth;
	padding-bottom: 0px;
}
.navbar-collapse {
    float: left;
    width: 100%;
    clear: both;roboto
}
.text-bold{
	font-weight: bold;
}
.sc-bc-blue{
	background-color: #80b6d8 !important;
}
.bc-blue{
	background-color: #80b6d8 !important;
}
.bc-blue:hover{
	background-color: #1a7ea5 !important;
}
.bc-bluish{
	background-color: #dce3ed !important;
}
.bc-redish{
	background-color: #c0b3bc !important;
}
.bc-red{
	background-color: #7c0000;
}
.fn-bt-red{
	color: #5E0000 !important;
}
.fn-bt-red:hover{
	color: white !important;
}
.fc-blue{
	color: #02AEEE !important;
}
a.fc-blue:hover{
	color: #0183b2 !important;
}
.fc-gold {
	color: #736357 !important;
}
a.fc-gold:hover, .fc-gold::placeholder{
	color: #a89c94 !important;
}
.fc-red{
	color: #7C0000 !important;
}
.footer-link, .footer-text{
	color: rgb(75,75,75) !important;
}
.footer-link:hover, .footer-title{
	color: rgb(100,100,100) !important;
}
.fn-gothic{
	font-family: 'Open Sans', sans-serif;
}
.fn-impact{
	font-family: 'Open Sans Condensed', sans-serif;
}
.fn-roboto{
	font-family: "Roboto", sans-serif;
}
.fw1{
	font-weight:700;
}
.dropdown-item.active, .dropdown-item:active {
	color: #fff !important;
	text-decoration: none;
	background-color: #02AEEE;
}
@media (min-width: 992px) {
	.brand-logo{
		width: 118px;
	}
	.fs-xxxl{
		font-size: 50px;
	}
	.fs-xxl{
		font-size: 40px;
	}
	.fs-xl{
		font-size: 26px;
	}
	.fs-lg{
		font-size: 18px;
	}
	.fs-md{
		font-size: 16px;
	}
	.fs-sm{
		font-size: 14px;
	}
	.fs-xs{
		font-size: 12px;
	}
}
@media (max-width: 992px) {
	.brand-logo{
		width: 59px;
	}
	.fs-xxxl{
		font-size: 30px;
	}
	.fs-xxl{
		font-size: 20px;
	}
	.fs-xl{
		font-size: 16px;
	}
	.fs-lg{
		font-size: 14px;
	}
	.fs-md{
		font-size: 14px;
	}
	.fs-sm{
		font-size: 13px;
	}
	.fs-xs{
		font-size: 12px;
	}
}
.footer{
	background-color:#e5ecf6;
}
.section, section{
	padding-top:26px;
	padding-bottom:26px;
}
@media (min-width: 992px) {
	.footer{
		background-image: url('../assets/lenta.svg'), url('../assets/logo.svg');
		background-position: -1mm 101%,50% 75%;
		background-repeat: no-repeat, no-repeat;
		background-size: 101% auto, 118px 118px;
		padding-bottom:350px;
		margin-bottom: 0px;
	}
}
div.links a{
		display: inline-block;
	}
	.with-background-image{
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}
.main-carousel-image{
	width:100%;
	height: 45vw;
}
.badge{
	font-size: 100%;
}
.badge-primary{
	background-color: #736357;
}
.badge-secondary{
	background-color: #80b6d8;
}
.badge-danger{
	background-color: #7C0000;
}
.calendar-holder{
	min-height: 179px;
}
.calendar .date{
	cursor: pointer;
}
.calendar td{
	min-width: 31px;
	min-height: 31px;
}
.date:hover{
	color: #02AEEE;
}
.transitionable{
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.lh-1{
	line-height:1;
}
.card-news{
	box-shadow: 5px 5px #7C0000;
	border: 0px solid rgba(0,0,0,.125);
	border-radius: 16.46px;
}
#main-carousel .carousel{
	padding-right: 3vw;
}
#main-carousel .bezel{
	border-bottom: 15px solid #7c0000;
	border-bottom-right-radius: 32vw;
	border-right: 15px solid #7c0000;
	z-index:2;
	position:relative;
}
#main-carousel a{
	z-index:3;
}
#main-carousel .container{
	padding-left: 5vw;
}
.main-carousel-secondary-image{
	position:absolute;
	bottom:0px;
	right:0px;
	height:32vw;
	z-index:3;
}
.spacing2{
	right:10vw;
}
.spacing3{
	right:20vw;
}
@media (min-width: 992px) {
	.card-img-top{
		border-top-right-radius: 0px;
		border-top-left-radius: 16.46px;
		border-bottom-left-radius: 16.46px;
	}
	#news{
		border-top-left-radius: 250px 125px;
	}
	#videos{
		border-bottom-left-radius: 250px 125px;
	}
	.video{
		width: 720px;
		height: 480px;
	}
	.mt-39{
		padding-top:5vw;
	}
	#blog{
		background-image: url('../assets/blog.svg');
			background-position: -1px -30px;
			background-repeat: no-repeat;
			background-size: 101% auto;
			height:26vw;
	}
}
@media (max-width: 992px) {
	.card-img-top{
		border-top-left-radius: 16.46px;
		border-top-right-radius: 16.46px;
		border-bottom-left-radius: 0px;
		min-height: 251px;
	}
	.card-block{
		padding-left: 1rem;
	}
	.video{
		width:80vw;
		height:60vw;
	}
}
.card-text{
	height: 72px;
}
.card-img-top{
	height: 100%;
}
#news{
	margin-top:10px;
	border-top: 10px solid #7C0000;
	box-shadow: -10px 0px #7C0000;
}
#videos{
	border-top: 0px;
	margin-bottom:10px;
	border-bottom: 10px solid #7C0000;
	box-shadow: -10px 0px #7C0000;
}
#partners{
	margin-bottom:1px;
	border-bottom: 3px solid #2b548b;
	box-shadow:0px 1px #3f51b5;
}
.wider{
	padding-right: 25px;
	padding-left: 25px;
}
.rounded{
	border-radius: 20px !important;
}
.taller{
	padding-top:15px;
	padding-bottom:15px;
}
.roundless{
	border-radius: 0px;
}
.borderless{
	border: 0px solid white;
}
#contact-us{
	background-color:#e5ecf6 !important;
	padding-top: 0px;
}
.contact-us{
	padding-top: 26px;
	border-bottom: 14px solid #7C0000;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.8);
	background-image: radial-gradient(#fefefe 15%,#fafaf9 59%, #f4f4f3 85%);
	border-right: 7px solid #7C0000;
	border-left: 7px solid #7C0000;
	margin-right: 2px;
	margin-left: 2px;
	border-bottom-left-radius: 65px;
	border-bottom-right-radius: 65px;
}
.partners-image{
	height: 20vw;
	width:100%;
}
.partners-wrapper{
	border-radius: 6vw;
}
#partners-carousel{
	border-radius: 5vw;
	z-index:1;
}
#partners img{
	width: 4vw;
}
.partners-wrapper{
	padding-top: 1vw;
	padding-bottom: 1vw;
	padding-left: 1vw;
	padding-right: 1vw;
	background-image: 
		linear-gradient(to right, 
			rgba(152, 28, 31, 0.75), 
			rgba(142, 35, 33,0.63) 11%, 
			rgba(116, 53, 38, 0.33) 31%,
			rgba(88, 73, 44,0) 52%,
			rgb(27, 75, 129)
		);
	background-position: 0px 0px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
}
.navbar{
	border-bottom: 15px solid #7c0000;
	box-shadow: 0px 5px rgba(219, 162, 107, 0.9);
}
#contact-us img{
	position: absolute;
	bottom: 0px;		
}
.left-image{
	right: 1vw;
}
.right-image{
	left: 1vw;
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.contact-us{
		border-bottom-left-radius: 100px;
		border-bottom-right-radius: 100px;
	}
}
#main-carousel .carousel-caption{
	position: absolute;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom:0px;
	background-color: rgba(219, 162, 107, 0.7);
	text-align: center;
}
#main-carousel{
	padding-top: 5px;
}
.overflow-hidden{
	overflow:hidden !important;
}
/*
	orange - #dba26b rgb(219, 162, 107)
*/