#content {
	background-color: #e5ecf6!important;
	padding-top: 0
}
.content {
	padding-top: 26px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .8);
	background-color: white;
	margin-right: 2px;
	margin-left: 2px;
	border-bottom-left-radius: 6vw;
	border-bottom-right-radius: 6vw;
	padding-bottom: 10px
}
.breadcrumb {
	background-color: inherit
}
.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: .5rem;
	color: #736357;
	content: ">"
}
.breadcrumb-item.active {
	color: #02AEEE
}
#content img,
.card {
	margin-bottom: 10px
}
#content .float-left {
	margin-right: 10px
}
#content .float-right {
	margin-left: 10px
}
@media (max-width: 767.98px) {
	.card-img-top {
		min-height: 45vw
	}
}
@media (min-width: 768px) {
	.card-img-top {
		min-height: 16vw
	}
}
@media (min-width: 992px) {
	.card-img-top {
		min-height: 13vw
	}
}
.page-link {
	color: #736357;
	border: 0
}
a.page-link span {
	color: #02AEEE
}
li.page-item.active a.page-link {
	color: #02AEEE;
	background-color: inherit
}
.page-link:hover {
	z-index: 2;
	color: #736357;
	text-decoration: none;
	background-color: inherit;
	border-color: inherit
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right:0rem;
}
.dropdown-toggle::after {
    content:none;
    margin-left:0px;
}
