html,body{
    background-color:#fcfcfc;
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='32' viewBox='0 0 16 32'%3E%3Cg fill='%23f4f4f4' fill-opacity='0.51'%3E%3Cpath fill-rule='evenodd' d='M0 24h4v2H0v-2zm0 4h6v2H0v-2zm0-8h2v2H0v-2zM0 0h4v2H0V0zm0 4h2v2H0V4zm16 20h-6v2h6v-2zm0 4H8v2h8v-2zm0-8h-4v2h4v-2zm0-20h-6v2h6V0zm0 4h-4v2h4V4zm-2 12h2v2h-2v-2zm0-8h2v2h-2V8zM2 8h10v2H2V8zm0 8h10v2H2v-2zm-2-4h14v2H0v-2zm4-8h6v2H4V4zm0 16h6v2H4v-2zM6 0h2v2H6V0zm0 24h2v2H6v-2z'/%3E%3C/g%3E%3C/svg%3E");
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    text-rendering:optimizeLegibility;
    scroll-behavior:smooth;
    -webkit-scroll-behavior:smooth;
    padding-bottom:0
}
.navbar{
    border-bottom:15px solid #7c0000;
    box-shadow:0 5px rgba(219,162,107,.9)
}
.navbar-collapse{
    float:left;
    width:100%;
    clear:both
}
.text-bold{
    font-weight:700
}
.sc-bc-blue{
    background-color:#80b6d8!important
}
.bc-blue{
    background-color:#80b6d8!important
}
.bc-blue:hover{
    background-color:#1a7ea5!important
}
.bc-bluish{
    background-color:#dce3ed!important
}
.bc-redish{
    background-color:#c0b3bc!important
}
.bc-red{
    background-color:#7c0000
}
.fn-bt-red{
    color:#5E0000!important
}
.fn-bt-red:hover{
    color:white!important
}
.fc-blue{
    color:#02AEEE!important
}
a.fc-blue:hover{
    color:#0183b2!important
}
.fc-gold{
    color:#736357!important
}
a.fc-gold:hover,.fc-gold::placeholder{
    color:#a89c94!important
}
.fc-red{
    color:#7C0000!important
}
.footer-link,.footer-text{
    color:rgb(75,75,75)!important
}
.footer-link:hover,.footer-title{
    color:rgb(100,100,100)!important
}
.fn-gothic{
    font-family:'Open Sans',sans-serif
}
.fn-impact{
    font-family:'Open Sans Condensed',sans-serif
}
.fn-roboto{
    font-family:"Roboto",sans-serif
}
.fw1{
    font-weight:700
}
.dropdown-item.active,.dropdown-item:active{
    color:#fff!important;
    text-decoration:none;
    background-color:#02AEEE
}
@media (min-width:992px){
    .brand-logo{
        width:118px
    }
    .fs-xxxl{
        font-size:50px
    }
    .fs-xxl{
        font-size:40px
    }
    .fs-xl{
        font-size:26px
    }
    .fs-lg{
        font-size:18px
    }
    .fs-md{
        font-size:16px
    }
    .fs-sm{
        font-size:14px
    }
    .fs-xs{
        font-size:12px
    }
}
@media (max-width:992px){
    .brand-logo{
        width:59px
    }
    .fs-xxxl{
        font-size:30px
    }
    .fs-xxl{
        font-size:20px
    }
    .fs-xl{
        font-size:16px
    }
    .fs-lg{
        font-size:14px
    }
    .fs-md{
        font-size:14px
    }
    .fs-sm{
        font-size:13px
    }
    .fs-xs{
        font-size:12px
    }
}
.footer{
    background-color:#e5ecf6
}
.section,section{
    padding-top:26px;
    padding-bottom:26px
}
@media (min-width:992px){
    .footer{
        background-image:url(../assets/lenta.svg),url(../assets/logo.svg);
        background-position:-1mm 101%,50% 75%;
        background-repeat:no-repeat,no-repeat;
        background-size:101% auto,118px 118px;
        padding-bottom:350px;
        margin-bottom:0
    }
}
div.links a{
    display:inline-block
}
.with-background-image{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center center
}
.transitionable{
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s
}
.lh-1{
    line-height:1
}
.wider{
    padding-right:25px;
    padding-left:25px
}
.rounded{
    border-radius:20px!important
}
.taller{
    padding-top:15px;
    padding-bottom:15px
}
.roundless{
    border-radius:0
}
.borderless{
    border:0 solid white
}
.overflow-hidden{
    overflow:hidden!important
}
.navbar li.nav-item.active a{
    color:#7C0000!important
}
#photos{
    background-color:#e5ecf6!important;
    padding-top:0
}
.photos{
    padding-top:26px;
    box-shadow:0 5px 10px 0 rgba(0,0,0,.8);
    background-color:white;
    margin-right:2px;
    margin-left:2px;
    border-bottom-left-radius:6vw;
    border-bottom-right-radius:6vw;
    padding-bottom:40px
}
.breadcrumb{
    background-color:inherit
}
.breadcrumb-item+.breadcrumb-item::before{
    display:inline-block;
    padding-right:.5rem;
    color:#736357;
    content:">"
}
.breadcrumb-item.active{
    color:#02AEEE
}
#news img,.card{
    margin-bottom:10px
}
#news .float-left{
    margin-right:10px
}
#news .float-right{
    margin-left:10px
}
@media (max-width:767.98px){
    .card-img-top{
        min-height:45vw
    }
}
@media (min-width:768px){
    .card-img-top{
        min-height:16vw
    }
}
@media (min-width:992px){
    .card-img-top{
        min-height:13vw
    }
}
.page-link{
    color:#736357;
    border:0
}
a.page-link span{
    color:#02AEEE
}
li.page-item.active a.page-link{
    color:#02AEEE;
    background-color:inherit
}
.page-link:hover{
    z-index:2;
    color:#736357;
    text-decoration:none;
    background-color:inherit;
    border-color:inherit
}
[v-cloak] {display: none}

